<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Pagseguro. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="knowarth_zipcode::base" title="Knowarth Zipcode" module="Knowarth_Zipcode" sortOrder="95" resource="Knowarth_Zipcode::sample"/>
        <add id="knowarth_zipcode::zipcode" title="Zipcodes" module="Knowarth_Zipcode" sortOrder="15" parent="knowarth_zipcode::base" action="knowarth_zipcode/items/" resource="Knowarth_Zipcode::items"/>
    </menu>
</config>
